node_modules
.VSCodeCounter/2025-09-08_13-08-30/details.md
.VSCodeCounter/2025-09-08_13-08-30/diff-details.md
.VSCodeCounter/2025-09-08_13-08-30/diff.csv
.VSCodeCounter/2025-09-08_13-08-30/diff.md
.VSCodeCounter/2025-09-08_13-08-30/diff.txt
.VSCodeCounter/2025-09-08_13-08-30/results.csv
.VSCodeCounter/2025-09-08_13-08-30/results.json
.VSCodeCounter/2025-09-08_13-08-30/results.md
.VSCodeCounter/2025-09-08_13-08-30/results.txt
Tips JSON.txt
SummerAsks.txt
programNotes.txt
src/TipMemory Refactoring Plan.pdf
cache.appcache
package-lock.json
.gitignore
.idea/vcs.xml
.idea/tip-tracker.iml
.idea/modules.xml
.idea/misc.xml
.idea/IntelliLang.xml
Tips JSON.txt
