.blurEffectOnMenu {
  filter: blur(3px);
}

/* Slide element in from the top of the screen */
/* Used for formContainer when adding a tip */
.slide-down-enter-active {
  transition: transform 0.6s ease-out;
}

.slide-down-leave-active {
  transition: transform 0.8s ease;
}

.slide-down-enter-from,
.slide-down-leave-to {
  transform: translateY(-100vh); /* start slightly above */
}

.slide-down-enter-to,
.slide-down-leave-from {
  transform: translateY(0);
}

/* Fade element out */
/* Used for error messages */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Slide element in from the right */
/* Used for navBarMenu */
.fade-slide-enter-active,
.fade-slide-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-slide-enter-from,
.fade-slide-leave-to {
  opacity: 0;
  transform: translateX(20px); /* slide in from right slightly */
}
