@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  font-style: normal;
  src: url("/src/assets/fonts/ubuntu/ubuntu-v20-latin-300.woff2")
    format("woff2");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  font-style: normal;
  src: url("/src/assets/fonts/ubuntu/ubuntu-v20-latin-700.woff2")
    format("woff2");
}

/* Root Variables */
:root {
  --themeColor: #3498db;
  --backgroundLight: #242424;
  --backgroundDark: #1a1a1a;
  --font: #fafafa;
  --backgroundImage: url("/src/assets/photos/sparklingWine.jpg");
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    var(--backgroundImage);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: "Ubuntu", sans-serif, Arial;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}
